<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="ISO-8859-1">
    <title>News Information</title>
</head>
<body>
<div align="center">
    <h1>News List</h1>
    <div sec:authorize="isAuthenticated()">
        Welcome <b><span sec:authentication="name">Username</span></b> &nbsp;
        <i><span sec:authentication="principal.authorities">Roles</span></i>
    </div>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout" />
    </form>
    <div sec:authorize="hasAnyAuthority('PUBLISHER', 'ADMIN')">
        <a href="/new">Add New News</a>
    </div>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>News ID</th>
            <th>Title</th>
            <th>Text</th>
            <th>Creation Date</th>
            <th>Valid From</th>
            <th>Valid To</th>
            <th>Role</th>
            <th sec:authorize="hasAnyAuthority('ADMIN', 'PUBLISHER')">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="news : ${listNews}">
            <td th:text="${news.newsID}">News ID</td>
            <td th:text="${news.title}">Title</td>
            <td th:text="${news.text}">Text</td>
            <td th:text="${news.creation_date}">Creation Date</td>
            <td th:text="${news.valid_from}">Valid From</td>
            <td th:text="${news.valid_to}">Valid To</td>
            <td th:text="${news.role}">Role</td>
            <td sec:authorize="hasAnyAuthority('ADMIN', 'PUBLISHER')">
                <div sec:authorize="hasAnyAuthority('ADMIN', 'PUBLISHER')">
                    <a th:href="@{'/edit/' + ${news.newsID}}">Edit</a>
                </div> &nbsp;&nbsp;&nbsp;
                <div sec:authorize="hasAnyAuthority('ADMIN')">
                    <a th:href="@{'/delete/' + ${news.newsID}}">Delete</a>
                </div>
                <a th:href="@{'/view/' + ${news.newsID}}">View</a>

                <a th:href="@{'/new_picture/' + ${news.newsID}}">Add Picture</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<h4><a th:href="@{/HomePage}">Go Back To HomePage</a></h4>
</body>
</html>