<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>News</title>
</head>
<body>
<table border="1" cellpadding="10">
    <thead>
    <tr>
        <th>News ID</th>
        <th>Title</th>
        <th>Text</th>
        <th>Creation Date</th>
        <th>Valid From</th>
        <th>Valid To</th>
        <th>Role</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="news : ${news}">
        <td th:text="${news.newsID}">News ID</td>
        <td th:text="${news.title}">Title</td>
        <td th:text="${news.text}">Text</td>
        <td th:text="${news.creation_date}">Creation Date</td>
        <td th:text="${news.valid_from}">Valid From</td>
        <td th:text="${news.valid_to}">Valid To</td>
        <td th:text="${news.role}">Role</td>
    </tr>
    </tbody>
</table>
<div>
    <a href="/index">Go Back</a>
</div>
</body>
</html>